body{
    margin: 0px;
    padding: 0px;
}

#box{
    width: 100vw;
    height: 100vh;
    background-color: rgb(230, 227, 238);
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    
    }
 #box2{
        width: 100px;
        height: 100px;
        background-color: tomato;
        border: 1px dashed green;
        border-radius: 40px ;
        display: flex;
        justify-content: center;
        align-items: center;
}
#box3{
    width: 100px;
    height: 100px;
    background-color: rgb(189, 173, 170);
    border: 2px solid rgb(2, 7, 2);
    border-radius: 50px ;
}

#box4{
    width: 100px;
    height: 100px;
    background-color: tomato;
    border: 1px dashed green;
    border-radius: 0px 0px 100px 100px ;
}



