*{
    margin: 0;
    padding: 0;
}
.main{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);;
    border-radius: 20%;
}
.logoborder{
    width: 230px;
    height: 230px;
    border: 10px solid white;
    border-radius: 10%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 90deg;
}
.sc{
    width: 30px;
    height: 30px;
    border: 10px solid white;
    border-radius: 100px;
    background-color: white;
    float: right;
    position: relative;
    top: -69px;
    right: 20px;
}
.bc{
    width: 100px;
    height: 100px;
    border: 10px solid white;
    border-radius: 100px;
    background-color: transparent;
    position: relative;
    top: -2px;
    right: 10px;
}